.display-inline {
    display: inline-block;
}
.card {
    border: 1px solid red;
    border-radius: 15px;
    min-height: 100px;
    width: 25%;
    padding: 5% 9% 5% 9%;
}
#dragMe {
    position: absolute;
    height: 20px;
    width: 20%;
    text-align: center;
    border: 1px solid rebeccapurple;
    background: aliceblue;
}
